.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
template.aux
template.bbl
template.log
template.out
template.pdf
template.synctex.gz
template.fdb_latexmk
template.fls
template.loc
template.soc
template-concordance.tex
MatExPaper.aux
MatExPaper.bbl
MatExPaper.log
MatExPaper.out
MatExPaper.pdf
MatExPaper.synctex.gz
MatExPaper-concordance.tex
MatExPaper.blg
template.tex
MatExPaper2.aux
MatExPaper2.log
MatExPaper2.out
MatExPaper2.pdf
MatExPaper2.tex
MatExPaper2.bbl
MatExPaper2.blg
MatExPaper2.bcf
MatExPaper2.run.xml
