.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
template.aux
template.bbl
template.log
template.out
template.pdf
template.synctex.gz
template.fdb_latexmk
template.fls
template.loc
template.soc
template-concordance.tex
MatExPaper.aux
MatExPaper.bbl
MatExPaper.log
MatExPaper.out
MatExPaper.pdf
MatExPaper.synctex.gz
MatExPaper-concordance.tex
MatExPaper.blg
